<section class="container">
    <header class="header">
        <h1 class="title">Reliable, efficient delivery<br>
            <span class="bold-text">Powered by Technology</span>
        </h1>
        
        <p class="presentation">
            Our Artificial Inteligence powered tools use milions of project data
            points to ensure that your project is successful.
        </p>
    </header>
    <div class="cards">
        <app-card
            [name]="'Supervisor'"
            [content]="'Lorem ipsum dolor sit amet...'"
            [link]="'https://image.flaticon.com/icons/png/32/622/622669.png'"
            [style.border-top]="'3px solid #4ea09f'"
        ></app-card>
        <div class="multiple-cards">
            <app-card
                [name]="'Team Builder'"
                [content]="'Lorem ipsum dolor sit amet...'"
                [link]="'https://image.flaticon.com/icons/png/32/922/922512.png'"
                [style.border-top]="'3px solid #973c3d'"
            ></app-card>
            <app-card
                [name]="'Karma'"
                [content]="'Lorem ipsum dolor sit amet...'"
                [link]="'https://image.flaticon.com/icons/png/32/3176/3176369.png'"
                [style.border-top]="'3px solid #d4c081'"
            ></app-card>
        </div>
        <app-card
            [name]="'Calculator'"
            [content]="'Lorem ipsum dolor sit amet...'"
            [link]="'https://image.flaticon.com/icons/png/32/3003/3003040.png'"
            [style.border-top]="'3px solid #4c7698'"
        ></app-card>
    </div>
</section>