$presentation-text-color: #9e9e9e;

@mixin flex($direction, $vertical, $horizontal) {
    display: flex;
    flex-direction: $direction;
    align-items: $vertical;
    justify-content: $horizontal;
}

.container {
    @include flex(column, center, center);
    gap: 20px;
    padding: 30px 0px;
}

.header {
    text-align: center;
    @include flex(column, none, none);
    gap: 20px;
    line-height: 30px;
}

.title {
    font-weight: 300;
    letter-spacing: 2px;
}

.bold-text {
    font-weight: 600;
    letter-spacing: 0px;
}

.presentation {
    width: 400px;
    line-height: 20px;
    color: $presentation-text-color;
}

.cards {
    display: flex;
    align-items: center;
    gap: 30px;
}

.multiple-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (max-width: 965px) {
    .cards {
        width: 500px;
        display: flex;
        flex-direction: column;
    }

    .multiple-cards {
        flex-direction: row;
    }
}

@media (max-width: 645px) {
    .cards * {
        width: 100%;
    }

    .multiple-cards {
        width: 90%;
        flex-direction: column;
    }

    .multiple-cards * {
        width: 100%;
    }
}

@media (max-width: 520px) {
    .cards * {
        width: auto;
    }

    .multiple-cards {
        width: 90%;
        flex-direction: column;
    }

    .multiple-cards * {
        width: 100%;
    }
}