/* You can add global styles to this file, and also import other style files */
$background: #f1f1f1;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: $background;
}